body{
	margin:0;
	padding:0;
}
.navbar-inverse	{
	background-color: rgba(0,0,0,.25)!important;
	border-color:transparent;
}
a.navbar-brand {
	font-family: 'Varela Round', sans-serif;
	color:#fff!important;
	font-size:23px;
}
.navbar-nav {
	font-size: 17px;
}
.navbar-inverse .navbar-nav>li>a {
	font-family: 'Varela Round', sans-serif;
	color:#fff;
}
.navbar-inverse {
	background-color:rgba(34,34,34,0.55);
	border-color:none;
}
.navbar-nav>li:hover {
	background-color:#000;
}

li.dropdown:hover > .dropdown-menu {
   display: block;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {

}

.mentor
{
margin:0px;
padding:0px;
background-color:white;
opacity:1;
}
.banner {
	background:url(images/ment.jpg) no-repeat;
	min-height:600px;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	position:relative;
}
.content{
  text-align: center;
  margin-top: 15%;
}
.content h2{
  color:#fff;
  font-weight: normal !important;
  letter-spacing: 1px;
}
.content button{
  padding:10px 20px;
  color:#fff;
  background:transparent;
  border-style: double;
  border:3px solid #fff;
}
/*---sections---*/
.section-header{
	margin-top:50px;
	margin-bottom: 50px;
}
.section-header h3 {
  font-size:20px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight:bold;
  position: relative;
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align:justify;
  padding-bottom: 30px;
  color: #333;
  font-size:17px;
  font-family: "Open Sans", sans-serif;
}
/*-- Team --*/
.team {
	background-color:#fff;
	padding:3em 0;
	background:url(images/team.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}
.placeholders {
	margin: 2% auto;
	text-align: center;
}
.placeholders h5  {
	color:#fff;
    font-size: 25px;
    font-weight:500;
	font-family: 'Varela Round', sans-serif;
	padding: 25px 0 15px;
	text-align:center ! important;
}
.placeholders h6 {
	color:#fff;
    font-size: 20px;
    font-weight:500;
	font-family: 'Varela Round', sans-serif;
	text-align:center ! important;
}
.placeholders p {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
	text-align:justify;
}
.team .placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}
.social-icons {
    margin: 4% auto 0;
}
.social-icons  a span {
	display:inline-block;
	width:40px;
	height:40px;
	background:url(images/social-icons.png) no-repeat 0px 0px;
}
.social-icons  span.facebook {
	background-position:0px 0px;
}
.social-icons span.twitter {
	background-position:-40px 0px;
}
.social-icons span.linkedin {
	background-position:-80px 0px;
}
.social-icons span.googleplus {
	background-position:-120px 0px;
}

/*-- /Team --*/
#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
  margin-top:30px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #18d26e;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}
#footer .social-links{
	text-align: center;


}
.social-links h4{
	margin-left:40%;
	margin-right: 40%;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #18d26e;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #18d26e;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #18d26e;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #18d26e;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
